<!-- Pagination links -->

<!-- JuicyAds v3.0 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1007611" data-width="728" data-height="102"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1007611});</script>
<!--JuicyAds END-->

<!-- JuicyAds v3.0 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1007634" data-width="300" data-height="62"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1007634});</script>
<!--JuicyAds END-->

{% if paginator.page_trail %}
    {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" | where_exp:"post","post.date <= page.date" %}
    <div class="pagination pagination-post {{ include.extra_classes }}">
        {% if paginator.is_last != true %}
            <a href="{{ paginator.next_page_path }}">
                {% if include.progressBar %}
                    {% include progress-bar.html %}
                {% endif %}
                <span class="text">{{ site.translations.pagination.next_page | default: "Next Page" }} <svg class="arrow"><use xlink:href="#icon-arrow-right"></use></svg></span>
            </a>
        {% else if next_posts.first %}
            <a href="{{ next_posts.first.url }}">
                {% if include.progressBar %}
                    {% include progress-bar.html finished=true %}
                {% endif %}
                <span class="text">{{ site.translations.pagination.next_post | default: "Next Post" }} <svg class="arrow"><use xlink:href="#icon-arrow-right"></use></svg></span>
            </a>
        {% endif %}
        
<!-- JuicyAds v3.0 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1007632" data-width="300" data-height="262"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1007632});</script>
<!--JuicyAds END-->

<!-- JuicyAds v3.0 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1007626" data-width="474" data-height="202"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1007626});</script>
<!--JuicyAds END-->


    </div>

{% endif %}
